<strong>Ola, {{user_receiver}}</strong>
<p>Voce recebeu um novo contato sobre um dos animais de extimação que você está procurando ou que você encontrou, confira a mensagem abaixo:</p>
<p>
  <strong>Mensagem de: </strong>{{user_send}}<br/>
  <strong>Mensagem: </strong>{{content}}<br/>
  <strong>Data/Hora: </strong>{{date}}<br/>
  <br/>
  <small>
    Por favor entre no seu aplicativo e responda caso necessário.
  </small>
</p>